:root {
    --pink-color: #b948d8;
    --orange-color: #f25a2c;
    --green-color: #0f6753;
    --blue-color: #1e4bae;
    --background-color: #121212;
    --footer-color: #474747;
    --text-color: #818181;
    --f1-color: #e8002d;
    --label-color: #303030;


    --old-color: #D9D9D9;
    --oldaccent-color: #C9B5B2;
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #121212; /* Color of the track */
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color); /* Color of the scrollbar thumb */
    border-radius: 6px; /* Roundness of the thumb */
    border: 3px solid #121212; /* Creates padding around the thumb */
}

/* For Firefox */
* {
    scrollbar-width: auto; /* "auto" or "thin" */
    scrollbar-color: var(--footer-color) #121212; /* thumb and track color */
}


// <weight>: Use a value from 400 to 700
// <uniquifier>: Use a unique and descriptive class name

.instrument-sans-<uniquifier> {
    font-family: "Instrument Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}


body, html {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 845px; /* Optional: Set a max-width for better readability */
    margin: 0 auto; /* Center the container */
}

.back-container {
    margin-bottom: 7px;
    margin-top: 40px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: 30px;
    gap: 10px;
    text-decoration: none;
}

.back-container {
    transition: transform 0.3s ease;
}

.back-container:hover {
    transform: scale(1.1);
}

.back-container p {
    font-family: 'Instrument Sans';
    font-size: 24px;
    color: var(--text-color);
}

.back-container img {
    max-height: 24px;
}

.intro-container {
    width: 100%;
    text-align: center;
    font-family: 'Instrument Sans';
}

.intro-container p {
    text-align: right;
    margin-top: 5px;
    font-size: 16px;
    line-height: 33px;
    color: var(--text-color);
}

.intro-buttons a:hover {
    transform: scale(1.1);
}

.intro-container h1 {
    text-align: left;
    color: white;
    font-size: 64px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 0;
}

.hero-info {
    color: var(--text-color);
    font-weight: 400;
    font-size: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 22px;
    margin-bottom: 10px;
}

.intro-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


.hero-skill-carousel p {
    font-family: "Instrument Sans";
    color: rgb(255, 255, 255);
    background-color: rgb(41, 41, 41);
    border: 1px solid var(--footer-color);
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-links {
    display: flex;
    flex-direction: row;
}

.intro-buttons a {
    display: flex;
    flex-direction: row;
    font-family: "Instrument Sans";
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
    width: 40px;
    height: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin: 5px;
    transition: transform 0.3s ease;
}

.intro-links a:hover {
    color: white;
}

.hero-links img {
    width: 15px;
}

.line-break {
    width: 845px;
    height: 1px;
    margin: 25px 0 25px 0;
    background-color: var(--footer-color);
}


.about-container {
    width: 100%;
    font-family: 'Instrument Sans';
}



.about-title h1 {
    margin-top: 20px;
    color: white;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: left;
}

.research-title-span {
    font-style: italic;
    color: var(--pink-color);
}

.research-title p {
    color: var(--text-color);
    margin-top: 5;
    font-size: 16px;
    line-height: 33px;
}

.research-features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.research-features h4 {
    margin-top: 5px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.research-features p {
    margin-top: 2px;
    color: var(--text-color);
    font-size: 16px;
    line-height: 24px;
}

.design-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.design-title h2, .design-prompt h2 {
    margin-top: 0;
    color: white;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 0;
}

.design-title span {
    font-style: italic;
    color: var(--pink-color);
}

.design-title p, .design-showcase p, .design-showcase-column p, .design-prompt p {
    color: var(--text-color);
    margin-top: 2;
    font-size: 16px;
    line-height: 33px;
}

.design-showcase {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.design-showcase-column {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.design-prompt {
    text-align: right;
    display: flex;
    flex-direction: column;
}

.design-prompt h3 {
    color: var(--pink-color);
    font-size: 32px;
    margin-top: 12px;
    margin-bottom: 0;
}


.design-prompt-column h3 {
    color: var(--pink-color);
    font-size: 32px;
    margin-bottom: 0px;
}


.onyx-text-img {
    width: 60%;
    height: auto;
    background: #1b1b1b;
    padding: 0 20px 20px;
    border-radius: 22px;

}

.darklightmode {
    width: 100%;
    border-radius: 12px;
}

.mobileimg {
    width: 100%;
    border-radius: 12px;
}

.onyx-home-img {
    width: 50%;
    border-radius: 22px;
}

.design-simplify {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.development-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Instrument Sans";
}

.development-box {
    margin-top: 30px;
    width: 100%;
    gap: 0;
    margin-bottom: 0;
}

.development-title h2 {
    margin-top: 0;
    color: white;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 0;
}

.development-title p, .development-box p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 33px;
}

.development-box h3 {
    color: var(--pink-color);
    font-size: 32px;
    margin-bottom: 0;
}

.user-flow {
    margin-top: 30px;
    width: 100%;
    border-radius: 22px;
}

.footer-container {
    margin-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.footer-signature a {
    font-family: 'Instrument Sans';
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
    color: var(--footer-color);
}

.footer-links a {
    font-family: 'Instrument Sans';
    color: var(--footer-color);
    text-decoration: none;
}

.footer-links a:hover, .footer-signature a:hover {
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.scroll-animation {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.scroll-animation.in-view {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 600px) {
    
    .page-wrapper {
        width: 90%;
    }

    .intro-container h1 {
        font-size: 45px;
    }

    .design-simplify {
        flex-direction: column;
    }

    .left {
        flex-direction: column-reverse;
    }

    .left h2 {
        margin-top: 10px;
    }

    .line-break {
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-links {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .design-prompt {
        width: 100%;
    }
    
    .hello {
        margin-bottom: 20px;
    }

    .onyx-home-img {
        width: 100%;
    }

    .footer-signature a {
        display: inline-block;
        margin-bottom: 10px;
    }
}